@font-face {
  font-family: "Pacifico";
  src: url(../../assets/fonts/Pacifico-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url(../../assets/fonts/NotoSans-Black.ttf) format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: url(../../assets/fonts/NotoSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url(../../assets/fonts/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "CCrisis";
  src: url(../../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf)
    format("truetype");
}
