@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.project {
  background-color: $yellow;
  padding: 2rem;
  border: 4px solid black;
  margin-bottom: 6rem;

  @include desktop {
    padding: 2rem 6rem;
  }

  &__title {
    @extend .subheading;
  }

  &__hero {
    @include flex($direction: column, $justify: flex-start);

    @include tablet {
      @include flex($justify: space-evenly);
    }
  }

  &__hero-image {
    border: 4px solid black;
    min-height: 12rem;
    max-width: 22rem;
    object-fit: contain;
    margin-bottom: 2rem;

    @include tablet {
      max-width: 44rem;
    }
  }

  &__stack-highlights {
    @include flex($direction: column-reverse, $align: space-between);
    margin-bottom: 2rem;
    @include tablet {
      margin: 0 1rem;
      margin-bottom: 1rem;
    }

    @include desktop {
      @include flex($justify: space-between);
      max-width: 48rem;
      margin-top: 1rem;
    }
  }

  &__highlights {
    @include flex($direction: column, $justify: flex-start);
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__highlights-heading,
  &__summary-heading {
    background-color: $purple;
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
    @include tablet {
      font-size: 2.4rem;
      margin-bottom: 1.2rem;
    }
  }

  &__summary {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: $purple;
  }

  &__details {
    margin: 4rem 0;
  }

  &__detail {
    @include flex($direction: column, $align: space-around);
    padding: 1rem;
    border-bottom: 4px solid $orange2;
    padding-bottom: 4rem;
    margin: 2rem 0;
    @include tablet {
      @include flex($justify: space-evenly);
    }
  }

  &__detail:last-child {
    border-bottom: none;
  }

  &__details-heading {
    font-size: 3rem;
    padding-bottom: 4rem;
  }

  &__detail-image {
    border: 2px solid black;
    object-fit: contain;
    max-width: 22rem;
    margin-bottom: 2rem;

    @include tablet {
      max-width: 30rem;
      margin: 0;
    }

    @include desktop {
      max-width: 50rem;
      margin: 0;
    }
  }

  &__detail-subtitle {
    font-size: 2.8rem;
    line-height: 3.4rem;
    margin-bottom: 2rem;
    color: $orange2;
    letter-spacing: 2px;
  }

  &__detail-description {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: justify;
  }

  &__detail:nth-child(odd) {
    @include tablet {
      @include flex($direction: row-reverse, $justify: space-evenly);
    }
  }

  &__detail-text {
    @include tablet {
      max-width: 34rem;
    }
  }
}
