@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.banner {
  width: 1584px;
  height: 396px;
  margin: 6rem auto;
  border: 4px solid black;
  @include flex($direction: column);
  margin-bottom: 6rem;

  &__image-text {
    @include flex($direction: row-reverse, $justify: flex-end);
    padding: 1rem 1rem 1rem 68rem;
  }

  &__text {
    @include flex($direction: column);
    text-align: center;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  &__title,
  &__subtitle {
    font-size: 4rem;
    line-height: 4.4rem;
  }

  &__subtitle {
    color: $orange2;
  }

  &__link {
    padding-top: 1rem;
    font-size: 3rem;
    // color: $blue2;
  }

  &__image {
    height: 70%;
    padding-top: 2rem;
  }
}
