@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

@keyframes color-change {
  0% {
    background-color: $pink;
  }
  50% {
    background-color: $blue2;
  }
  100% {
    background-color: $orange2;
  }
}

.notfound {
  margin: 6rem 0;
  @include tablet {
    margin: 6rem 4rem;
  }

  &__hero {
    @include flex($justify: space-evenly);
  }
  &__image {
    height: 16rem;
    margin: -2rem -1.6rem;
    @include tablet {
      height: 34rem;
      margin-bottom: -4rem;
    }
    @include desktop {
      height: 48rem;
      margin-bottom: -8rem;
    }
  }

  &__message {
    animation: color-change 6s infinite;
    @include tablet {
      font-size: 5rem;
      line-height: 5.2rem;
    }

    @include desktop {
      font-size: 8rem;
      line-height: 8.2rem;
    }
  }

  &__link {
    margin: 6rem 0;
    width: 16rem;
  }

  &__link-icon {
    margin: 0 1.2rem -0.4rem 0;
    font-size: 2rem;
    text-align: left;
  }
}
